repos:
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3

  - repo: git+ssh://git@github.com/pycqa/flake8.git
    rev: 7.3.0
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: run-tests
        name: Run Python Tests (Pre-push)
        entry: pytest
        language: python
        stages: [pre-push]
        always_run: true
        pass_filenames: false
